/*!--CSS home page--!*/

#item-nav {
    font-variant: small-caps;
    font-weight: bold;
    color: rgb(22, 47, 160);
    text-align: center;
}

#nav-item {
    border: 2px solid rgb(22, 47, 160);
}

#nav-entrar {
    background-color: rgb(22, 47, 160);
    text-align: center;
}

#nav-entrar-texto {
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#nav-bar {
    border-style: hidden hidden solid hidden;
    border-color: rgb(22, 47, 160);
    background-color: rgb(40, 164, 185);
}

#col-1-top-section {
    margin-top: 13%;
}

#img-header {
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-top: 5%;
}

#section-top {
    margin-bottom: 5%;
}

#destino-home-div {
    border: 2px solid rgb(22, 47, 160);
}

#form-escolha-destino {
    margin-left: 5%;
    margin-right: 5%;
}

#btn-escolha-destino {
    background-color: rgb(22, 47, 160);
}

#section-pacotes-home {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(22, 47, 160);
    padding-bottom: 5%;
}

#p-pacotes-home,
#p-novos-lugares-home {
    margin-bottom: 0px;
}

#img-salvador {
    width: 100%;
    height: auto;
}

#div-pacotes-home {
    margin-top: 10%;
}

#div-novos-lugares-home {
    margin-top: 13%;
}

#img-guilin {
    height: 80%;
    margin-top: 5%;
}

#footer {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(22, 47, 160);
    padding: 10px;
    background-color: rgb(40, 164, 185);
    text-align: center;
}

#btn-sobre-nos {
    background-color: rgb(40, 164, 185);
}

#paris {
    scale: 90%;
    max-width: 100%;
    height: auto;
}

#div-destinos-populares-home {
    margin-top: 10%;
}

#section-destinos-pop-home {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(22, 47, 160);
    padding-bottom: 5%;
}

/*!--CSS página registro--!*/

#form-login {
    background-color: rgb(40, 164, 185);
    width: 300px;
    height: 320px;
    justify-items: auto;
    margin: auto;
    margin-top: 5%;
    padding-top: 15px;
}

#input-email-login,
#input-senha-login,
#form-login {
    border: 2px solid rgb(22, 47, 160);
}

#inputNome,
#inputCPF,
#inputEndereço,
#numeroEndereço,
#inputCidadeEstado,
#inputEmail,
#inputNumeroCelular,
#inputSenhaRegistro {
    border: 2px solid rgb(22, 47, 160);
    width: 90%;
}

#btn-form {
    background-color: rgb(40, 164, 185);
    border: 2px solid rgb(22, 47, 160);
    margin-left: 115px;
    color: rgb(22, 47, 160);
    font-weight: bold;
}

#p-form {
    text-align: center;
    color: rgb(22, 47, 160);
    font-weight: bold;
    font-size: large;
    border-bottom-width: 2px;
    border-bottom-color: rgb(22, 47, 160);
    border-bottom-style: solid;
    padding-bottom: 15px;
}

#section-login {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(22, 47, 160);
    padding-bottom: 4%;
}

#section-registro-conta {
    margin-top: 3%;
    margin-bottom: 4%;
}

#h2-form-registro {
    margin-bottom: 2%;
}

#form-registro-conta {
    background-color: rgb(40, 164, 185);
    padding: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(22, 47, 160);
}

#btn-registro {
    background-color: rgb(40, 164, 185);
    border: 2px solid rgb(22, 47, 160);
    color: rgb(22, 47, 160);
    font-weight: bold;
    margin-top: 5%;
    margin-left: 45%;
}

#section-passagens-header {
    margin-top: 2%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    border-bottom-color: rgb(22, 47, 160);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#div-header-passagens {
    background-color: rgb(40, 164, 185);
    width: 78%;
    color: rgb(22, 47, 160);
    margin: auto;
    font-weight: bold;
    padding: 3%;
    padding-bottom: 1%;
}

#div-escolha-passagem,
#div-escolha-hotel {
    background-color: rgb(40, 164, 185);
    padding: 3%;
    margin-bottom: 4%;
    border: 2px solid rgb(22, 47, 160);
}

#form-escolha-passagem input {
    border: 2px solid rgb(22, 47, 160);
}

#div-quantidade-passagens input {
    float: right;
}

#inputAdicionarCarrinho {
    color: rgb(22, 47, 160);
    font-weight: bold;
}

#section-escolha-passagem {
    border-bottom-width: 2px;
    border-bottom-color: rgb(22, 47, 160);
    border-bottom-style: solid;
    margin-bottom: 3%;
}

#btn-finalizar-compra {
    border: 2px solid rgb(22, 47, 160);
    margin: 0 auto;
    margin-bottom: 3%;
    margin-left: 45%;
    padding: 1%;
    color: rgb(22, 47, 160);
    font-weight: bold;
}